/* BODY STYLES */
body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
    height: 100%;
    position: relative;
    width: 100%;
}

/* NAVBAR STYLES */
.navbar {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 30px;
}
.navbar-links-aboutstore {  
    /* background-color: lightsteelblue; */ 
}
.navbar-links-aboutstore a {
    padding: 0 5px;
    text-decoration: none;
}

.navbar-links-gmailimages {
    /* background-color: lightsalmon; */
    justify-self: right; 
}
.navbar-links-gmailimages a {
    padding: 0 0 0 5px;
    text-decoration: none;
}
.navbar-links-gmailimages img {
    place-self:
    padding: 5px;
}

.navbar-links-gmailimages > button {
    color: #fff;
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 7%;
    font-size: 15px;
    margin: 0 1em ;
    padding: 9px 23px;
}


/* LOGO STYLES */
.corporate-logo {
    /* text-align: center; */
    align-items: center; 
    /* background-color: lightgray; */
    display: flex;
    flex-direction: column;
    margin-top: 198px;
}

/* SEARCH FORM STYLES */
.search-container {
    /* background-color: lightgreen; */
    box-sizing: border-box;
    display: block;
    padding: 20px;        
}

.search-container > form {
    text-align: center;
}
.search-buttons {
    display: block;
    padding: 1em;;
    text-align: center;
    width: auto;
}
.search-buttons > button ~ button {
    margin-left: 1em;
}

/* FOOTER STYLES */
.footer-bar { 
    align-items: center;
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
    
    min-height: 100%;
    width: 100%;
    position: absolute;
    
    
    /* height: 30px;     */
    /* position: absolute; */
    
}
.advert-business-how a {
    color: black;
    text-decoration: none;
 
}
.carbon-neutral-declaration {

  
   
}

.privacy-terms-setting a {
    color: black;
    text-decoration: none;
   
}